<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%level] %d{HH:mm:ss.SSS} %logger - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="io.perfmark" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="io.grpc" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="info" >
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>