<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %5p %40.40c:%4L - %m%n</pattern>
        </encoder>
    </appender>

    <!-- https://www.testcontainers.org/supported_docker_environment/logging_config/ -->
    <logger name="org.testcontainers" level="warn" />
    <logger name="com.github.dockerjava" level="warn"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="off"/>

    <logger name="org.hibernate.SQL" additivity="true" level="debug" />

    <root level="warn">
        <appender-ref ref="console" />
    </root>
</configuration>